RewriteEngine On
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^register$ register.php [NC,L]
RewriteRule ^register/([0-9]+)$ register.php?msg=$1 [NC,L]
RewriteRule ^login/([0-9]+)$ login.php?msg=$1 [NC,L]
RewriteRule ^home$ index.php [NC,L]
RewriteRule ^product/([0-9]+)/([0-9a-zA-Z_-]+)$ product.php?id=$1&cat_name=$2 [NC,L]
RewriteRule ^product/([0-9]+)/([0-9a-zA-Z_-]+)/([0-9]+)$ product.php?id=$1&cat_name=$2&page=$3 [NC,L]
RewriteRule ^brand/([0-9]+)/([0-9a-zA-Z_-]+)$ product_brand.php?brand=$1&name=$2 [NC,L]
RewriteRule ^brand/([0-9]+)/([0-9a-zA-Z_-]+)/([0-9]+)$ product_brand.php?brand=$1&name=$2&page=$3 [NC,L]
RewriteRule ^categories/([0-9]+)/([0-9a-zA-Z_-]+)$ product_main.php?cat_id=$1&cat_name=$2 [NC,L]
RewriteRule ^categories/([0-9]+)/([0-9a-zA-Z_-]+)/([0-9]+)$ product_main.php?cat_id=$1&cat_name=$2&page=$3  [NC,L]
RewriteRule ^search/([0-9]+)$ search.php?page=$1 [NC,L]
RewriteRule ^search$ search.php [NC,L]
RewriteRule ^details/([0-9]+)/([0-9a-zA-Z_-]+)$ single_product.php?id=$1&name=$2 [NC,L]
RewriteRule ^cart$ cart.php [NC,L]
RewriteRule ^address$ address.php [NC,L]
RewriteRule ^login/([0-9a-zA-Z_-]+)$ login.php?location=$1 [NC,L]